.user-form {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.inputContainer, .user-form-buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  > *:first-child {
    margin-right: 20px;
  }
}

.user-form-button {
  
}